body{
    background-image: url('diagonal_striped_brick.png');

}


h1{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#round {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2%;
}

#start{
    display: flex;
    justify-content: center;
    /*margin-top: 1%;
    margin-left: 48%;*/
    padding: 2%;

}



#simonbox{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    color: transparent;


}

.square{
    opacity: .5;
}

#blue{
    background-color: #0c2340;
    width:200px;
    height:200px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10%;
    box-shadow: 5px 5px 5px black;
    border-radius: 50%;


}

/*#topright:active{
    /*background-color: darkblue;
    opacity: 0;
}*/

#red{
    background-color: red;
    width:200px;
    height:200px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    box-shadow: 5px 5px 5px black;
    border-radius: 50%;

}

/*#topleft:active{
    background-color: darkred;
}*/

#pink{
    background-color: deeppink;
    width:200px;
    height:200px;
    display: flex;
    justify-content: flex-end;
    align-content:flex-start;
    box-shadow: 5px 5px 5px black;
    border-radius: 50%;

}

/*#bottomleft:active{
    background-color: pink;
}*/

#gold{
    background-color: orange;
    width:200px;
    height:200px;
    display: flex;
    justify-content: flex-end;
    align-content:flex-end;
    margin-bottom: 10%;
    box-shadow: 5px 5px 5px black;
    border-radius: 50%;

}

/*#bottomright:active{
    background-color: darkorange;
}*/

.squareflash{
    opacity: 1;
    /* transition: opacity ;*/
}
